@page "/security"
@inject PasswordState State
@inject IStringLocalizer<Security> L

@attribute [Authorize]

@if (State.IsPasswordAvailable is null)
{
    <PageLoading/>
}
else
{
    <div class="container">
        <PageHeader Title="@L["Security"]" Subtitle="@L["Manage your password"]"/>

        <div class="row">
            <div class="col-md-6">
                @if (State.IsPasswordAvailable.Value)
                {
                    <UpdatePassword
                        Model="@State.UpdateModel"
                        IsLoading="@State.IsLoading"
                        OnUpdate="@State.UpdateAsync"/>
                }
                else
                {
                    <CreatePassword
                        Model="@State.CreateModel"
                        IsLoading="@State.IsLoading"
                        OnCreate="@State.CreateAsync"
                        IsCodeSending="@State.IsCodeSending"
                        OnConfirmationRequest="@State.RequestConfirmationAsync"/>
                }
            </div>
        </div>
    </div>
}

@code{

    protected override Task OnInitializedAsync() =>
        State.InitializeAsync();

}