@page "/identities"
@using Microsoft.AspNetCore.Authorization
@using Elwark.Account.Service.Profile.Models
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.Medium">
    <div class="grid">
        @foreach (var identity in Profile.Identities)
        {
            <MudCard>
                <MudCardHeader>
                    <CardHeaderAvatar>
                        @switch (identity.IdentityType)
                        {
                            case IdentityType.Email:
                                <MudAvatar Style="background: #FFB800">
                                    <MudIcon Icon="@Icons.Material.Filled.AlternateEmail"/>
                                </MudAvatar>
                                break;
                                
                            case IdentityType.Google:
                                <MudAvatar Style="background: #DB4437">
                                    <MudIcon Icon="@(Icons.Custom.Brands.Google)"/>
                                </MudAvatar>
                                break;
                                
                            case IdentityType.Microsoft:
                                <MudAvatar Style="background: #00A4EF">
                                    <MudIcon Icon="@(Icons.Custom.Brands.Microsoft)"/>
                                </MudAvatar>
                                break;
                        }
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <MudText Typo="Typo.body1">@identity.IdentityType</MudText>
                        @if (identity.IsConformed)
                        {
                            <MudText Typo="Typo.body2" Color="Color.Success">Confirmed</MudText>    
                        }
                        else
                        {
                            <MudText Typo="Typo.body2" Color="Color.Error">Not confirmed</MudText>
                        }
                        
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
                </MudCardContent>
                <MudCardActions>
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Default"/>
                </MudCardActions>
            </MudCard>
        }
    </div>
</MudContainer>

@code {

    [CascadingParameter]
    public Profile Profile { get; set; } = default!;

}