@using Elwark.Account.Service.Profile.Requests
@inject IStringLocalizer<App> L

@if (_isConfirmationSent)
{
    <EditForm Model="@_model" OnValidSubmit="@OnSubmit">
        <FluentValidationValidator/>
        <MudTextField Label="@L["Code"]" @bind-Value="@_model.Code" For="@(() => _model.Code)"/>
        <MudTextField InputType="InputType.Password" Label="@L["Password"]" @bind-Value="@_model.Password" For="@(() => _model.Password)"/>
        <MudTextField InputType="InputType.Password" Label="@L["ConfirmPassword"]" @bind-Value="@_model.ConfirmPassword" For="@(() => _model.ConfirmPassword)"/>

        <LoadingButton Text="@L["Create"]" IsLoading="@_isUpdating" Class="mt-3"/>
    </EditForm>
}
else
{
    <MudText Typo="Typo.body1">
        Your account don't have a password. It means that you can't sign in with your email and password.
    </MudText>
    <MudButton 
        ButtonType="ButtonType.Button"
        Variant="Variant.Filled"
        Color="Color.Primary"
        Class="mt-3"
        OnClick="SendConfirmation"
        Disabled="@_isUpdating">
        @if (_isUpdating)
        {
            <div class="d-flex flex-row align-center">
                <MudProgressCircular Class="mr-3" Size="Size.Small" Indeterminate="true"/>
                @L["Loading"]
            </div>
        }
        else
        {
            @L["Create"]
        }
    </MudButton>
}

@code {
    private bool _isConfirmationSent;
    private bool _isUpdating;

    private CreatePasswordRequest _model = new(string.Empty);

    [Parameter]
    public Func<Task<string>> OnSendConfirmation { get; set; } = default!;

    [Parameter]
    public EventCallback<CreatePasswordRequest> OnCreatePassword { get; set; }

    private async Task SendConfirmation()
    {
        _isUpdating = true;
        var id = await OnSendConfirmation.Invoke();
        if (!string.IsNullOrEmpty(id))
        {
            _model = new CreatePasswordRequest(id);
            _isConfirmationSent = true;
        }
        _isUpdating = false;
    }

    private async Task OnSubmit()
    {
        await OnCreatePassword.InvokeAsync(_model);
    }

}
