@inject IStringLocalizer<App> L

<MudButton ButtonType="@ButtonType" Variant="@Variant" Color="@Color" Disabled="@IsLoading" Class="@Class">
    @if (IsLoading)
    {
        <div class="d-flex flex-row align-center">
            <MudProgressCircular Class="mr-3" Size="Size.Small" Indeterminate="true"/>
            @L["Loading"]
        </div>
    }
    else
    {
        @Text
    }
</MudButton>

@code {

    [Parameter]
    public string Text { get; set; } = string.Empty;
    
    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public ButtonType ButtonType { get; set; } = ButtonType.Submit;

    [Parameter]
    public Variant Variant { get; set; } = Variant.Filled;

    [Parameter]
    public Color Color { get; set; } = Color.Primary;

    [Parameter]
    public string? Class { get; set; }
}