@using Elwark.Account.Service.Profile
@using Elwark.Account.Service.Profile.Models
@using Elwark.Account.States

<div class="d-flex flex-row @Class">
    <div class="content">
        <MudAvatar Image="@(Profile.Picture)" Rounded="true" Style="width: 100px; height: 100px"/>
        <div class="user">
            <MudText Typo="Typo.h5">
                @Profile.FullName
            </MudText>
            <MudText Typo="Typo.subtitle1" Class="mb-3">
                @if (!string.IsNullOrEmpty(Profile.Address.CityName))
                {
                    @(Profile.Address.CityName + ", ")
                }
                @if (Profile.Address.CountryCode is not  null)
                {
                    @(Infrastructure.Countries.TryGetValue(Profile.Address.CountryCode, out var value) ? value : null)
                }
            </MudText>
            <MudText Typo="Typo.body2">
                @Profile.Bio
            </MudText>
        </div>
    </div>
</div>

@code {

    [CascadingParameter]
    public Profile Profile { get; set; } = default!;

    [CascadingParameter]
    public InfrastructureState Infrastructure { get; set; } = default!;

    [Parameter]
    public string? Class { get; set; }
}