@using Elwark.Account.Gateways.Timezone
@using Elwark.Account.Gateways.Country
<MudGrid Spacing="3">
    <MudItem xs="12" md="4" lg="3">
        <div class="d-flex justify-center mb-3 mb-sm-6">
            <MudAvatar Image="@Model.Picture" Class="avatar" Variant="Variant.Filled"/>
        </div>
        <MudText Typo="Typo.h6" Align="Align.Center">
            @Model.FullName
        </MudText>
        <MudText Typo="Typo.body2" Align="Align.Center" Class="mud-text-secondary">
            @L["MemberSince", Model.CreatedAt.ToShortDateString()]
        </MudText>
    </MudItem>
    <MudItem xs="12" md="8" lg="9">
        <EditForm Model="@Model" OnValidSubmit="@OnSubmit">
            <FluentValidationValidator/>

            <MudGrid Spacing="3">
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField Label="@L["Nickname"]" @bind-Value="@Model.Nickname" For="@(() => Model.Nickname)"/>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField Label="@L["FirstName"]" @bind-Value="@Model.FirstName" For="@(() => Model.FirstName)"/>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudTextField Label="@L["LastName"]" @bind-Value="@Model.LastName" For="@(() => Model.LastName)"/>
                </MudItem>
                <MudItem xs="12">
                    <MudCheckBox @bind-Checked="@Model.PreferNickname" Dense="true" Color="Color.Primary" Label="@L["PreferNickname"]"/>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudAutocomplete
                        Label="@L["Country"]"
                        @bind-Value="@Model.CountryCode"
                        For="@(() => Model.CountryCode)"
                        SearchFunc="@CountrySearch"
                        ToStringFunc="@(s => Countries.FirstOrDefault(x => x.Code == s)?.Name ?? "")"
                        ResetValueOnEmptyText="true"
                        CoerceText="true">
                        <ItemTemplate Context="country">
                            <MudText>
                                @(Countries.FirstOrDefault(x => x.Code == country))
                            </MudText>
                        </ItemTemplate>
                    </MudAutocomplete>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudAutocomplete
                        T="string"
                        Label="@L["Timezone"]"
                        @bind-Value="@Model.Timezone"
                        For="@(() => Model.Timezone)"
                        SearchFunc="@TimezoneSearch"
                        ResetValueOnEmptyText="true"
                        CoerceText="true">
                        <ItemTemplate Context="timezone">
                            <MudText>
                                @(Timezones.FirstOrDefault(x => x.Name == timezone))
                            </MudText>
                        </ItemTemplate>
                    </MudAutocomplete>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudSelect Label="@L["FirstDayOfWeek"]" @bind-Value="Model.FirstDayOfWeek" For="@(() => Model.FirstDayOfWeek)">
                        @foreach (var day in Enum.GetValues<DayOfWeek>())
                        {
                            <MudSelectItem Value="@day">@L[$"DayOfWeek:{day}"]</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudSelect Label="@L["PreferredLanguage"]" @bind-Value="Model.Language" For="@(() => Model.Language)">
                        <MudSelectItem Value="@("en")">English</MudSelectItem>
                        <MudSelectItem Value="@("ru")">Русский</MudSelectItem>
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-end">
                    <LoadingButton 
                        ButtonType="ButtonType.Submit" 
                        Text="@L["Update"]"
                        LoadingText="@L["Loading"]"
                        IsLoading="@_isLoading"/>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudItem>
</MudGrid>

@code {
    private bool _isLoading;

    [Inject]
    private IStringLocalizer<App> L { get; set; } = default!;

    [Parameter, EditorRequired]
    public ProfileEditorModel Model { get; set; } = default!;

    [Parameter, EditorRequired]
    public Timezone[] Timezones { get; set; } = Array.Empty<Timezone>();

    [Parameter, EditorRequired]
    public Country[] Countries { get; set; } = Array.Empty<Country>();

    [Parameter, EditorRequired]
    public EventCallback<ProfileEditorModel> OnUpdate { get; set; }

    private Task<IEnumerable<string?>> CountrySearch(string? arg)
    {
        if (string.IsNullOrEmpty(arg))
            return Task.FromResult<IEnumerable<string?>>(Countries.Take(10).Select(x => x.Code));

        var result = Countries
            .Where(x => x.ToString().Contains(arg, StringComparison.InvariantCultureIgnoreCase))
            .Select(x => x.Code);

        return Task.FromResult<IEnumerable<string?>>(result);
    }

    private Task<IEnumerable<string>> TimezoneSearch(string? arg)
    {
        if (string.IsNullOrEmpty(arg))
            return Task.FromResult(Timezones.Take(10).Select(x => x.Name));

        var result = Timezones
            .Where(x => x.ToString().Contains(arg, StringComparison.InvariantCultureIgnoreCase))
            .Select(x => x.Name);

        return Task.FromResult(result);
    }

    private async Task OnSubmit()
    {
        _isLoading = true;
        await OnUpdate.InvokeAsync(Model);
        _isLoading = false;
    }

}
