@using Elwark.Account.Web.ViewModels
@inject ICreatePasswordViewModel ViewModel;

<EditForm Model="@ViewModel.Model" OnValidSubmit="@ViewModel.CreateAsync" class="card">
    <FluentValidator/>
    <div class="card-body">

        <div class="form-group">
            <label>New password</label>
            <InputText type="password" @bind-Value="ViewModel.Model.Password" class="form-control" placeholder="New password"/>
            <ValidationMessage For="@(() => ViewModel.Model.Password)"/>
        </div>

        <div class="form-group">
            <label>Confirm new password</label>
            <InputText type="password" @bind-Value="ViewModel.Model.Confirmation" class="form-control" placeholder="Confirm new password"/>
            <ValidationMessage For="@(() => ViewModel.Model.Confirmation)"/>
        </div>

        <div class="form-group">
            <label>Confirmation code</label>
            <div class="input-group mb-3">
                <InputNumber @bind-Value="ViewModel.Model.Code" class="form-control" placeholder="Confirmation code"/>
                <div class="input-group-append">
                    <LoadingButton IsLoading="@ViewModel.IsCodeSending" OnClick="@ViewModel.SendCodeAsync" Title="Request code" Icon="fa-qrcode"/>
                </div>
            </div>
            <ValidationMessage For="@(() => ViewModel.Model.Code)"/>
        </div>

        <div class="row">
            <div class="col-auto">
                <LoadingButton IsLoading="@ViewModel.IsLoading" Type="submit" Title="Create password" Icon="fa-shield-alt"/>
            </div>
        </div>

    </div>
</EditForm>