@using Elwark.Account.Shared.IdentityService.Model
@using Elwark.Account.Web.ViewModels
@inject IIdentityViewModel ViewModel

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">

            <div class="col-auto">
                <IdentityIcon Type="@ViewModel.Identification.Type"/>
            </div>

            <div class="col text-right">
                @ViewModel.Identification.Type
            </div>

        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <span>@ViewModel.Identification.Value</span>
            @if (ViewModel.ConfirmedAt.HasValue)
            {
                <i class="fas fa-check-circle text-success"></i>
            }
        </h5>

        @if (ViewModel.ConfirmedAt.HasValue && ViewModel.Identification is Identification.Email)
        {
            if (ViewModel.Notification is Notification.PrimaryEmail)
            {
                <p class="card-subtitle">
                    <strong>
                        <em>Primary email</em>
                    </strong>
                </p>
            }
            else
            {
                <select class="form-control"
                        @onchange="@(e => ViewModel.ChangeNotificationTypeAsync(Enum.Parse<NotificationType>(e.Value.ToString())))"
                        disabled="@ViewModel.IsLoading">

                    @foreach (var notification in _notifications)
                    {
                        <option value="@notification" selected="@(ViewModel.Notification.Type == notification)">@notification</option>
                    }

                </select>
            }
        }
        else if (ViewModel.ConfirmedAt is null)
        {
            if (ViewModel.IsConfirmationCodeSent)
            {
                <EditForm Model="_confirmationModel" OnValidSubmit="@ConfirmationHandler">
                    <FluentValidator/>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <InputNumber @bind-Value="_confirmationModel.Code" class="form-control" placeholder="Code"/>
                            <div class="input-group-append">
                                <LoadingButton IsLoading="@ViewModel.IsLoading" Type="submit" Title="Confirm" Icon="fa-check"/>
                            </div>
                        </div>
                        <ValidationMessage For="@(() => _confirmationModel.Code)"/>
                    </div>
                </EditForm>
            }
            else
            {
                <LoadingButton IsLoading="@ViewModel.IsLoading" Title="Confirm" Icon="fa-check" OnClick="@(() => ViewModel.SendConfirmationCodeAsync())"/>
            }
        }

    </div>

    <div class="card-footer border-top-0 pt-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <small class="text-muted">Added @ViewModel.CreatedAt.ToString("d")</small>
            </div>
            <div class="col-auto">
                @if (ViewModel.Notification.Type != NotificationType.PrimaryEmail)
                {
                    <button class="btn" @onclick="@(() => ViewModel.DeleteIdentityAsync())" disabled="@ViewModel.IsLoading">
                        <i class="fas fa-trash"></i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@code
{
    private ConfirmIdentityModel _confirmationModel = new ConfirmIdentityModel();

    private readonly NotificationType[] _notifications =
    {
        NotificationType.None,
        NotificationType.PrimaryEmail,
        NotificationType.SecondaryEmail
    };

    [Parameter]
    public IdentityModel Item { get; set; }

    protected override void OnInitialized()
    {
        ViewModel.Init(Item);
        _confirmationModel = new ConfirmIdentityModel
        {
            Id = Item.IdentityId
        };
    }

    private async Task ConfirmationHandler()
    {
        await ViewModel.ConfirmIdentityAsync(_confirmationModel.Code.GetValueOrDefault(0));
    }
}