@using Elwark.Account.Shared.Identity

<div class="card">
    <div class="card-header">
        <div class="row align-items-center">

            <div class="col-auto">
                <IdentityIcon Type="@Item.Identification.Type"/>
            </div>

            <div class="col text-right">
                @Item.Identification.Type
            </div>

        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <span>@Item.Identification.Value</span>
            @if (Item.IsConfirmed)
            {
                <i class="fas fa-check-circle text-success"></i>
            }
        </h5>

        @if (Item.IsConfirmed)
        {
            if (Item.Notification is Notification.PrimaryEmail)
            {
                <h2 class="notification-title">
                    Primary email
                </h2>
            }
            else if (Item.Identification is Identification.Email)
            {
                <div class="form-group mb-0">
                    <select class="form-control"
                            @onchange="@(e => OnChangeNotification.InvokeAsync(Enum.Parse<NotificationType>(e.Value.ToString())))"
                            disabled="@Item.IsLoading">

                        @foreach (var notification in IdentitiesState.NotificationTypes)
                        {
                            <option value="@notification" selected="@(Item.Notification.Type == notification)">
                                @IdentitiesState.GetNotificationTypeLabel(notification)
                            </option>
                        }

                    </select>
                </div>
            }
            else
            {
                <div class="notification-spacer"></div>
            }
        }
        else
        {
            if (Item.IsConfirmationCodeSent)
            {
                <EditForm Model="ConfirmationModel" OnValidSubmit="@(() => OnConfirm.InvokeAsync(ConfirmationModel.Code.GetValueOrDefault(0)))">
                    <FluentValidator/>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <InputNumber @bind-Value="ConfirmationModel.Code" class="form-control" placeholder="Code"/>
                            <div class="input-group-append">
                                <LoadingButton IsLoading="@Item.IsLoading" Type="submit" Title="Confirm" Icon="fa-check"/>
                            </div>
                        </div>
                        <ValidationMessage For="@(() => ConfirmationModel.Code)"/>
                    </div>
                </EditForm>
            }
            else
            {
                <LoadingButton
                    IsLoading="@Item.IsLoading"
                    Title="Confirm"
                    Icon="fa-check"
                    OnClick="@OnSendConfirmationCode"/>
            }
        }

    </div>

    <div class="card-footer border-top-0 pt-0">
        <div class="row align-items-center justify-content-between">
            <div class="col-auto">
                <small class="text-muted">Added @Item.CreatedAt.ToString("d")</small>
            </div>
            <div class="col-auto">
                @if (Item.Notification.Type != NotificationType.PrimaryEmail)
                {
                    <button class="btn" @onclick="@OnDelete" disabled="@Item.IsLoading">
                        <i class="fas fa-trash"></i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>

@code
{
    private ConfirmIdentityModel ConfirmationModel { get; set; } = new ConfirmIdentityModel();

    [Parameter] public IdentityModel Item { get; set; }

    [Parameter] public EventCallback<NotificationType> OnChangeNotification { get; set; }

    [Parameter] public EventCallback OnSendConfirmationCode { get; set; }

    [Parameter] public EventCallback OnDelete { get; set; }

    [Parameter] public EventCallback<long> OnConfirm { get; set; }
}