@inherits LayoutComponentBase
@inject IElwarkStorageClient StorageClient

<ToastContainer/>
<div class="app @SidebarCollapsedClass">
    <div class="app-body">
        <Sidebar
            LogoText="Account"
            LogoImage="@StorageClient.Static.Icons.Elwark.White.Size192x192.Path"
            IsSidebarCollapsed="@SidebarCollapsed"
            ToggleSidebar="@ToggleSideCollapse"/>
        <div class="page-content">
            <AppHeader ToggleSidebar="@ToggleSideCollapse"/>
            <main class="primary-content" tabIndex="-1" role="main">
                @Body
            </main>
        </div>
    </div>
    <footer class="app-footer">
        <span>©@(DateTime.Today.Year) Elwark</span>
    </footer>
</div>

@code {

    private bool SidebarCollapsed { get; set; }

    string SidebarCollapsedClass =>
        SidebarCollapsed ? "side-menu-collapsed" : string.Empty;

    void ToggleSideCollapse() =>
        SidebarCollapsed = !SidebarCollapsed;

}