@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.Extensions.Localization
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IStringLocalizer<Sidebar> L

<div>
    <div class="app-sidebar">
        <div class="site-logo-bar">
            <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
                <img src="@LogoImage" alt="@LogoText"/>
                <span class="logo-text">@LogoText</span>
            </NavLink>
        </div>
        <nav>
            <ul class="app-sidebar-menu">
                <li class="nav-item">
                    <NavLink href="" Match="NavLinkMatch.All">
                        <span class="side-nav-icon">
                            <i class="fas fa-user" aria-hidden="true"></i>
                        </span>
                        <span class="nav-item-label">@L["Profile"]</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="security">
                        <span class="side-nav-icon">
                            <i class="fas fa-user-shield" aria-hidden="true"></i>
                        </span>
                        <span class="nav-item-label">@L["Security"]</span>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink href="identities">
                        <span class="side-nav-icon">
                            <i class="fas fa-address-book" aria-hidden="true"></i>
                        </span>
                        <span class="nav-item-label">@L["Identities"]</span>
                    </NavLink>
                </li>
                <li class="nav-item nav-item-spacer"></li>
                <li class="nav-item">
                    <NavLink href="#" @onclick="BeginSignOut" ActiveClass="active">
                        <span class="side-nav-icon">
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                        </span>
                        <span class="nav-item-label">@L["Logout"]</span>
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
    @if (IsSidebarCollapsed)
    {
        <div class="sidebar-overlay" @onclick="ToggleSidebar"></div>
    }
</div>

@code
{
    [Parameter]
    public Uri LogoImage { get; set; } = null!;

    [Parameter]
    public string LogoText { get; set; } = null!;

    [Parameter]
    public bool IsSidebarCollapsed { get; set; }

    [Parameter]
    public EventCallback ToggleSidebar { get; set; }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}