@using Elwark.Account.Shared.Password
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<UpdatePassword> L

<EditForm Model="@Model" OnValidSubmit="@OnUpdate" class="card">
    <FluentValidator/>

    <div class="card-body">
        <div class="form-group">
            <label>@L["Current password"]</label>
            <InputText type="password" @bind-Value="Model.Current" class="form-control" placeholder="@L["Current password"]"/>
            <ValidationMessage For="@(() => Model.Current)"/>
        </div>

        <div class="form-group">
            <label>@L["New password"]</label>
            <InputText type="password" @bind-Value="Model.Password" class="form-control" placeholder="@L["New password"]"/>
            <ValidationMessage For="@(() => Model.Password)"/>
        </div>

        <div class="form-group">
            <label>@L["Confirm new password"]</label>
            <InputText type="password" @bind-Value="Model.Confirmation" class="form-control" placeholder="@L["Confirm new password"]"/>
            <ValidationMessage For="@(() => Model.Confirmation)"/>
        </div>

        <div class="row">
            <div class="col-auto">
                <LoadingButton IsLoading="@IsLoading" Type="submit" Title="@L["Update password"]" Icon="fa-shield-alt"/>
            </div>
        </div>

    </div>
</EditForm>

@code {

    [Parameter]
    public UpdatePasswordModel Model { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public EventCallback OnUpdate { get; set; }

}