@page "/identities"
@using Elwark.Account.Web.Pages.Identities.Components.Models
@using System.Net.Mail
@using Elwark.Account.Shared.IdentityService
@using Elwark.Account.Shared.IdentityService.Model
@using Elwark.People.Abstractions
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IToaster Toaster
@inject IIdentityService IdentityService
@inject IModalService Modal
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@attribute [Authorize]

<div class="container">
    <div class="row justify-content-between m-b">
        <div class="col-auto mr-auto">
            <h2 class="mb-0">Identities</h2>
            <p class="text-muted">
                Manage your identities which allow you log in to your account.
            </p>
        </div>
        <div class="col-auto">
            <button @onclick="@OpenAddIdentityDialog" class="btn btn-outline-success">
                <i class="fas fa-plus"></i>
                Add
            </button>
        </div>
    </div>

    @if (Model.Count == 0)
    {
        <PageLoading/>
    }
    else
    {
        <div class="row mb-3 justify-content-between">

            <div class="col-12 col-sm-5 col-md-3">
                <div class="form-group row">
                    <label for="sort" class="col-sm-2 col-form-label">Sort</label>
                    <div class="col-sm-10">
                        <select value="@Sort" id="sort" @onchange="@SortChanged" class="form-control">
                            <option value="@IdentitiesSort.None">None</option>
                            <option value="@IdentitiesSort.AddedAsc">By date added ascending</option>
                            <option value="@IdentitiesSort.AddedDesc">By date added descending</option>
                            <option value="@IdentitiesSort.TypeAsc">By type ascending</option>
                            <option value="@IdentitiesSort.TypeDesc">By type descending</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-2">
                <div class="btn-toolbar float-right">
                    <div class="btn-group">
                        <button type="button"
                                @onclick="@(e => SetViewAsync(ViewType.List))"
                                class="btn @GetViewButtonClasses(ViewType.List)">
                            <i class="fas fa-list"></i>
                        </button>
                        <button type="button"
                                @onclick="@(e => SetViewAsync(ViewType.Grid))"
                                class="btn @GetViewButtonClasses(ViewType.Grid)">
                            <i class="fas fa-th"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            @switch (_view)
            {
                case ViewType.List:
                    break;

                case ViewType.Grid:
                    foreach (var item in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4">
                            <IdentityCard
                                Item="@item"
                                OnCodeRequest="@SendCode"
                                OnConfirm="@ConfirmIdentity"
                                OnDelete="@DeleteIdentity"
                                OnNotificationTypeChange="@NotificationTypeChange"/>
                        </div>
                    }
                    break;
            }
        </div>
    }

</div>

@code {
    private ViewType _view = ViewType.List;
    private IdentitiesSort Sort { get; set; } = IdentitiesSort.None;

    private List<IdentityModel> Model { get; set; } = new List<IdentityModel>();

    protected override async Task OnInitializedAsync()
    {
        await LoadViewAsync();
        await LoadIdentitiesAsync();
        SortIdentities();
    }

    private void SortChanged(ChangeEventArgs e)
    {
        Sort = Enum.Parse<IdentitiesSort>(e.Value.ToString());
        SortIdentities();
    }

    private async Task DeleteIdentity(IdentityId id)
    {
        var result = await IdentityService.DeleteAsync(id);
        if (result.IsSuccess)
        {
            Model.RemoveAll(x => x.IdentityId == id);
            Toaster.Success("Identity removed");
        }
        else
        {
            Toaster.Error(result.Error?.Detail);
        }
    }

    private async Task SendCode(IdentityId id)
    {
        var result = await IdentityService.SendCodeAsync(id);
        if (result.IsSuccess)
        {
            Toaster.Success("Confirmation code sent");
        }
        else
        {
            Toaster.Error(result.Error?.Detail);
        }
    }

    private async Task ConfirmIdentity((IdentityId id, long code) value)
    {
        var (id, code) = value;
        var result = await IdentityService.ConfirmAsync(id, code);
        if (result.IsSuccess)
        {
            await LoadIdentitiesAsync();
            Toaster.Success("Identity confirmed");
        }
        else
        {
            Toaster.Error(result.Error?.Detail);
        }
    }

    private async Task NotificationTypeChange((IdentityId id, NotificationType type) value)
    {
        var (id, type) = value;
        var result = await IdentityService.ChangeNotificationTypeAsync(id, type);
        if (result.IsSuccess)
        {
            await LoadIdentitiesAsync();
            SortIdentities();
            Toaster.Success("Notification type changed");
        }
        else
        {
            Toaster.Error(result.Error?.Detail);
        }
    }

    private async Task OpenAddIdentityDialog()
    {
        var modal = Modal.Show<AddIdentityModal>("Add identity", new ModalOptions
        {
            Position = ModalPosition.Center
        });

        if ((await modal.Result).Cancelled)
            return;

        await LoadIdentitiesAsync();
    }

    private async Task LoadIdentitiesAsync()
    {
        var data = await IdentityService.GetAsync();

        if (data.IsSuccess)
            Model = data.Data.OrderBy(x => x.CreatedAt).ThenBy(x => x.Identification).ToList();
        else
            Toaster.Error(data.Error?.Detail);
    }

    private void SortIdentities()
    {
        Model = Sort switch
        {
            IdentitiesSort.None => Model.OrderBy(x => x.IdentityId).ToList(),
            
            IdentitiesSort.TypeAsc => Model.OrderBy(x => x.Identification.Type)
                .ThenBy(x => x.IdentityId)
                .ToList(),
                
            IdentitiesSort.TypeDesc => Model.OrderByDescending(x => x.Identification.Type)
                .ThenBy(x => x.IdentityId)
                .ToList(),
                
            IdentitiesSort.AddedAsc => Model.OrderBy(x => x.CreatedAt)
                .ThenBy(x => x.IdentityId)
                .ToList(),
            
            IdentitiesSort.AddedDesc => Model.OrderByDescending(x => x.CreatedAt)
                .ThenBy(x => x.IdentityId)
                .ToList(),
            
            _ => throw new ArgumentOutOfRangeException()
            };
    }

    private string GetViewButtonClasses(ViewType viewType) =>
        viewType == _view ? "btn-primary" : "btn-secondary";

    private async Task SetViewAsync(ViewType viewType)
    {
        await localStorage.SetItemAsync("identities_view", _view = viewType);
    }

    private async Task LoadViewAsync()
    {
        _view = await localStorage.GetItemAsync<ViewType>("identities_view");
    }

}